@using PBAPP.Herramientas
@using PBAPP.Modelos
@using PBAPP.Modelos.ClubsTodos
@using PBAPP.Modelos.HistorialPartidos
@using PBAPP.Modelos.Perfil
@using PBAPP.Modelos.RatingUsuario
@using PBAPP.Modelos.SeguidoresUsuario
@using System.Text.Json
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    PerfilInformacionUsuario? informacionUsuario = this.ViewData["informacionUsuario"] as PerfilInformacionUsuario;
    EstadisticasUsuarioCalculado? estadisticasUsuario = this.ViewData["estadisticasCalculadas"] as EstadisticasUsuarioCalculado;
    TodosClubsResponse? clubesUsuario = this.ViewData["clubesUsuario"] as TodosClubsResponse;
    List<RatingPorFecha>? ratingPorFechas = this.ViewData["RatingPorMes"] as List<RatingPorFecha>;
    // List<HistorialPorMapa>? puntos = this.ViewData["HistorialLugaresPartidos"] as List<HistorialPorMapa>;
    HistorialPartidosResponse? historialPartidos = this.ViewData["HistorialPartidos"] as HistorialPartidosResponse;
}

@if (informacionUsuario == null || estadisticasUsuario == null || clubesUsuario == null || ratingPorFechas == null)
{
    <p>Problemas al cargar la info</p>
    return;
}

@Html.AntiForgeryToken()

<div id="webcrumbs">
    <div class="w-full bg-gray-900 min-h-screen p-4 sm:p-6">
        <div class="flex flex-col gap-4">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6 max-w-7xl mx-auto">

                @* Información del Usuario *@
                @await Html.PartialAsync("_InformacionUsuario", informacionUsuario)

                @* Estadisticas *@
                @await Html.PartialAsync("_EstadisticasUsuario", estadisticasUsuario)

                @* Grafica de Ranking *@
                @await Html.PartialAsync("_GraficaHistorialRating", ratingPorFechas)

                @* Ultimos 4 partidos *@
                @await Html.PartialAsync("_UltimosPartidos", historialPartidos)

                @* Listado de clubes *@
                @await Html.PartialAsync("_Clubes", clubesUsuario)
            </div>
        </div>
    </div>
</div>


<script defer src="~/js/Grafica.js"></script>